Structura de directoare

MyProject/
│
├── extractor/                  # Modulul de extragere și parsare PDF (modulul care citeste PDF-ul si il transforma in test)
│   ├── __init__.py
│   ├── reader.py               # citeste PDF-ull brut (am folosit PYMUPDF - inainte folosisesm pdfplumber dar testele imi dadeau eroare module 'tabula' has no attribute 'read_pdf' si am schimbat)
│   └── parser.py               # transforma textul in obiecte logice (parcel, owner, acres etc.)
│   └── extractor.py            # wrapper care combina reader + parser → returneaza lista de parcele ---- asta s-ar putea sa fie reduntant??????
│
├── database/                   # Modulul pentru PostgreSQL
│   ├── __init__.py			  ← expune Base
│   ├── init_db.py 
│   ├── create_tables.py 		 # creeaza tabelele în PostgreSQL
│   ├── models.py               # SQLAlchemy models - definesti modelele cu SQLAlchemy ← importa Base
│   └── repository.py           # funcții CRUD (insert, update, select)
│   └── session.py				 # conexiunea SQLAlchemy  ← definește Base + engine + SessionLocal
│
├── app/                     # Site-ul (FastAPI)
│   ├── __init__.py
│   ├── main.py                	# rute API - logica aplicatiei
│   ├── ui.py 					 	# interfata grafica
│   ├── templates/             	# locul unde pui fișierele HTML pe care FastAPI + Jinja2 le vor afisa în browser - este interfata vizuala a aplicatiei
					# FastAPI caută fișiere HTML doar în app/templates orice pagina pe care vrei să o afișezi trebuie sa fie acolo
					# componentele HTML (butoane, ferestre, card-uri) pot fi puse în subfoldere
│   |	├── index.html				# lista PDF-urilor
│   |	└── parcel_detail.html     # detalii PDF
│   |	├── components/            # pagini, ferestre, butoane, layout etc. (contine fragmente HTML reutilizabile)
│   |	|	├── button.html 
│   |	|	├── card.html 
│   |	|	├── modal.html      
│
├── config/
│   ├── __init__.py
│   └── settings.py             # incarca .env, defineste settings.PDF_PATH, DB_URL etc
│
├── scripts/
│   └── load_pdf.py             # pipeline: PDF → DB -- citeste PDF-ul si extrage info -> parseaza -> salveaza in DB -- crezi ca ar fi mai ok sa mut asta in tools? sa am acolo tot ce tine de pipeline?
│
├── tools/
│   ├── debug_reader.py			# testeaza reader-ul
│   ├── debug_parser.py			# testeaza parser-ul
│   ├── export_all_parcels.py		# export complet
│   ├── export_invalid_parcels.py	# export doar parcele invalide
│   ├── export_to_db.py			# exportul catre baza de date
│   ├── validator_runner.py		# rulează validatorul
│
├── tests/
│   ├── test_pdf_path_print.py
│   ├── test_reader.py
│   ├── test_parser.py
│   └── validator_parcels.py
│
├── validator/
│   ├──  __init__.py
│   ├── validator_parcele.py 	# verifica fiecare parcela
│
├── requirements.txt
└── README.md
